<div class="container">
    <h2 class="text-center mt-5 mb-3">Aakash Sharma</h2>
    <div class="col-lg-12 text-center">
        <img src="{{address}}/resources/others/aakash.png" class="round-img" alt="Aakash Sharma">
    </div>
    <div class="col-lg-12 text-center ">
        <h4 class="mt-3">
            Software Engineer
        </h4>
    </div>
</div>